src/conf/xml-resources/web-service-references/WSL_ConsultarSaldo/wsdl/localhost_8080/ConsultarSaldo_WSL/WSL_ConsultarSaldo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSL/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WSL/" name="WSL_ConsultarSaldo">
<types>
<xsd:schema>
<xsd:import namespace="http://WSL/" schemaLocation="http://localhost:8080/ConsultarSaldo_WSL/WSL_ConsultarSaldo?xsd=1"/>
</xsd:schema>
</types>
<message name="iniciarSesion">
<part name="parameters" element="tns:iniciarSesion"/>
</message>
<message name="iniciarSesionResponse">
<part name="parameters" element="tns:iniciarSesionResponse"/>
</message>
<message name="consultarDinero">
<part name="parameters" element="tns:consultarDinero"/>
</message>
<message name="consultarDineroResponse">
<part name="parameters" element="tns:consultarDineroResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="consultarDatosCliente">
<part name="parameters" element="tns:consultarDatosCliente"/>
</message>
<message name="consultarDatosClienteResponse">
<part name="parameters" element="tns:consultarDatosClienteResponse"/>
</message>
<portType name="WSL_ConsultarSaldo">
<operation name="iniciarSesion">
<input wsam:Action="http://WSL/WSL_ConsultarSaldo/iniciarSesionRequest" message="tns:iniciarSesion"/>
<output wsam:Action="http://WSL/WSL_ConsultarSaldo/iniciarSesionResponse" message="tns:iniciarSesionResponse"/>
</operation>
<operation name="consultarDinero">
<input wsam:Action="http://WSL/WSL_ConsultarSaldo/consultarDineroRequest" message="tns:consultarDinero"/>
<output wsam:Action="http://WSL/WSL_ConsultarSaldo/consultarDineroResponse" message="tns:consultarDineroResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://WSL/WSL_ConsultarSaldo/helloRequest" message="tns:hello"/>
<output wsam:Action="http://WSL/WSL_ConsultarSaldo/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="consultarDatosCliente">
<input wsam:Action="http://WSL/WSL_ConsultarSaldo/consultarDatosClienteRequest" message="tns:consultarDatosCliente"/>
<output wsam:Action="http://WSL/WSL_ConsultarSaldo/consultarDatosClienteResponse" message="tns:consultarDatosClienteResponse"/>
</operation>
</portType>
<binding name="WSL_ConsultarSaldoPortBinding" type="tns:WSL_ConsultarSaldo">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="iniciarSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarDinero">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarDatosCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSL_ConsultarSaldo">
<port name="WSL_ConsultarSaldoPort" binding="tns:WSL_ConsultarSaldoPortBinding">
<soap:address location="http://localhost:8080/ConsultarSaldo_WSL/WSL_ConsultarSaldo"/>
</port>
</service>
</definitions>